$bg-footer: #000000
$link-hover: #EAEA39
$button-border: #EAEA39

.footer
	background-color: $bg-footer			
	position: fixed
	//position: absolute
	bottom: 0	
	left: 0
	width: 100%
	height: 55px


.footer p
	color: white
	text-align: center
	padding-top: 1%
	
